* {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

ul,
li,
ol,
a {
    list-style-type: none;
    text-decoration: none;

}
.conteiner {

    width: 1120px;
    margin: 0 auto;
}

nav {
    padding: 32px 0px 32px 0px;

}
.nav_logo {
    font-size: 45px;
    font-weight: Extrabold;
    font-family: open sans-serif;
}

span {
    color: red;
}

.nav_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list {
    align-items: center;
    display: flex;
    gap: 20px;
}

.nav_list li {
    font-weight: 700;
}

.nav_btn {
    background-color: #FD6E0A;
    padding: 18px 36px 18px 36px;
}

.nav_btn a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: open sans-serif;

}

.conteainer_main {
    background-color: #e3d4ca;
    display: flex;
}

.banner_heading {
    padding: 297px 163px 184px 230px;

}

.banner_heading a {
    font-size: 45px;
    font-weight: 600;
    font-family: open sans-serif;
}

.banner_heading h1 {
    font-size: 85px;
    font-weight: 700;
    font-family: open sans-serif;
}

.banner_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 161px 38px 0px 978px;
}

.banner_heading p {
    font-size: 18px;
    font-weight: Regular;
    font-family: open sans-serif;
}