*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;

}
ul,li,ol,a{
    list-style-type: none;
    text-decoration: none;

}
.conteiner{
    width: 1120px;
    margin: 0 auto;

}
nav{
    background-color:#1C1E53;
    padding: 32px 0px 32px 0px;
   
}
.nav_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_list{
    display: flex;
    gap: 20px;
}
.nav_list li{
    color: white;
    font-weight: 700;
}
tamim vai