* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol,
a {
    list-style-type: none;
    text-decoration: none;

}

.container {

    width: 1120px;
    margin: 0 auto;

}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 0px;
    z-index: 1000;
}

.nav_logo {
    font-size: 45px;
    font-weight: Extrabold;
    font-family: 'Open Sans', sans-serif;
}

.nav_logo a {
    color: black;
}

span {
    color: red;
}

.nav_items {

    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list {
    align-items: center;
    display: flex;
    gap: 20px;
}

.nav_list li {
    font-weight: 700;
}

.nav_btn {
    background-color: #FD6E0A;
    padding: 18px 36px 18px 36px;
}

.nav_btn a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

/* banner css */
#banner {
    position: relative;
    padding: 161px 38px 0px 230px;
    display: flex;
    align-items: center;
    background-color: #FFF8F3;
    justify-content: space-between;
}

.banner_main {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner_content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}

.banner_content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.banner_content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}

.banner_btn {
    padding-top: 20px;

}

.btn {
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.banner_img {
    max-width: 585px;
    vertical-align: middle;
}

/* about css */

#about {

    height: 550px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding: 130px 230px 0px 230px;
}

.container_main {
    padding-top: 131px;
    background-color: #FFF8F3;
}

.about_heading {
    align-items: center;
    justify-content: center;
}

.about_heading h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.about_heading p {
    align-items: center;
    font-size: 18px;
    padding: 20px 180px 20px 180px;
}

.about_info {
    padding: 30px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.about_info .info_card {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

.about_info .info_card p {
    color: #757575;

}

/* skills css */
#skills {
    display: flex;
    padding-top: 130px;
}

.skills_container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.skills_heading {
    padding-top: 20px;
    text-align: center;
    justify-content: center;

}

.skills_heading h2 {
    padding-top: 20px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}

.skills_heading p {

    padding: 10px 229px 20px 227px;
    text-align: center;
    justify-content: center;

}

.skills_box {
     
    display: flex;
    gap: 40px;
    margin: 0 auto;
}

.skills_card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;
}


.skills_card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skills_card h3 {
    padding-top: 10px;
    font-size: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    color: #181818;

}

.skills-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.section-heading{
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;


}
.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    align-items: center;
    gap: 24px;
}
.resume-container .section-title {
 font-size: 30px;
 color: #474747;
 margin-bottom: 30px;
}

.resume-container hr{
    margin: 30px 0;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 25px;

}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.btn{

}
